@import url('https://fonts.googleapis.com/css2?family=Joan&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  

}


.movie-details-container {
    width: 80%;
    margin: 0 auto;
    padding-top: 20px;
}



.trailer-section {
    margin-top: 20px;
    width: 100%;
    margin-bottom: 20px;
}

.details-section {
    background-color: #cab1b1; 
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.details-section h2 {
    margin-bottom: 10px;
    color: #333;
}

.details-section p {
    margin-bottom: 10px;
    line-height: 1.5;
    color: #555;
}

.next-step button:hover {
    background-color: #0056b3; 
}

.showtime-section {
    margin-top: 1rem;
    border: 1px solid #2b2929;
    padding: 2rem;
    border-radius: 5px;
}


.date-selector, .time-selector {
    display:flow-root;
    /* display:inline-block; */
    justify-content: space-around;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.showtime-section h2{
    margin-bottom: 10px;
    margin-left: 10px;
    color: whitesmoke;
}

.date-button, .time-button {
    background-color: #242323;
    border: none;
    padding: 0.6rem 1rem;
    margin: 0.5rem;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s, background-color 0.3s;
    margin-bottom: 1rem;
}

.date-button.selected,
.time-button.selected {
    background-color: orange;
    color: black; 
    transform: scale(1.1); 
    pointer-events: none; 
}


.date-button:hover, .time-button:hover {
    background-color: #242121;
}

.next-step {
    text-align: center;
    margin-left: 40px;
    margin: 10px;
    display: flex;
    gap: 500px;
}

.next-step button {
    padding: 15px 30px;
    background-color: #ff6600;
    color: #fff;
    margin-top: 50px;
    margin-bottom: 3rem;
    transition: background-color 0.3s;
    background-color: #ff6600;
}

.next-step button:hover {
    background-color: #ff3300;
}