@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: black;
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    justify-content: center;
    height: 80vh;
    font-family: 'Lato', 'sans-serif';
}

#movie{
    width:fit-content;
    margin: 0 auto;
}

.seat {
    background-color: #535363;
    height: 12px;
    width: 15px;
    margin: 3px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.row {
    display: flex;
    justify-content: center;
}

.movie-container {
    margin: 20px 0;
    color: white
}

.movie-container select {
    background-color: whitesmoke;
    border: 0;
    border-radius: 5px;
    font-size: 14px;
    margin: 5px 15px;
}

.seat.selected {
    background-color: rgb(48, 193, 99);
}

.seat.occupied {
    background-color: red;
}

.seat:not(.occupied):hover {
    cursor: pointer;
    transform: scale(1.2);
}

.seatcase .seat:not(.occupied):hover {
    cursor: default;
    transform: scale(1);
}

.seatcase {
    background-color: gray;
    padding: 5px 10px;
    border-radius: 5px;
    color: black;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

.seatcase li {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
}

.seatcase li small {
    margin-left: 10px;
}

.screen {
    background-color: white;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 4%;
    height: 120px;
    width: 40%;
    box-shadow: 0 30px 50px rgba(225, 225, 225, 0.75);
}

.container {
    perspective: 100px;
    margin-bottom: 30px;
}

p.text {
    margin: 10px 0;
}

p.text span {
    color: #e0d6d6;
}

.title {
    font-family: 'Permanent Marker', cursive;
    text-align: center;
    font-size: 230%;
    padding-bottom: 30px;
}

/* Checkout button styles */
.checkout-button {
    background-color: #FF5733; 
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s ease;
    margin-left: 425px;
}

.checkout-button:hover {
    background-color: #FF4500; 
}
