@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

*{
    box-sizing: border-box;
}
body{

    background-color: rgb(73, 58, 58);
    display: flex;
    flex-direction:column;
    color: white;
    align-items: center;
    justify-content: center;
    height: 80vh;
    /* height: auto; */
    font-family: 'Lato', 'sans-serif';
}

.seat {
    background-color: #535363;
    height: 12px;
    width: 15px;
    margin: 3px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.row {
    display: flex;
}

.movie-container {
    margin: 20px 0;
}

.movie-container select{
    background-color: whitesmoke;
    border: 0;
    border-radius: 5px;
    font-size: 14px;
    margin-left: 5px 15px 5px 15px;
}

.seat.selected{
    background-color: rgb(48, 193, 99);
}

.seat.occupied{
    background-color: red;
}

.seat:nth-of-type(2){
    margin-right:18px;
}

.seat:nth-last-of-type(2){
    margin-left:18px;
}

.seat:not(.occupied):hover{
    cursor:pointer;
    transform:scale(1.2);
}

.seatcase .seat:not(.occupied):hover{
    cursor: default;
    transform:scale(1);
}

.seatcase {
    background-color: gray;
    padding: 5px 10px;
    border-radius:5px;
    color: black;
    list-style-type: none;
    display: flex;
    justify-content:space-between;
    
}

.seatcase li{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
}

.seatcase li small{
    margin-left: 10px;
}

.screen{
    background-color: white;
    height: 70px;
    width:100%;
    margin :15px 0;
    /* transform:rotateX('-45deg'); */
    box-shadow: 0 30px 50px rgba(225,225,225,0.75);
}

.container{
    /* background-color: black; */
    perspective: 100px;
    margin-bottom: 30px;
}

p.text {
    /* background-color: blue; */
    margin: 10px 0;
}

p.text span{
    color: #000;
}