@import url('https://fonts.googleapis.com/css2?family=Joan&display=swap');



body {
    background-color: black;
    /* background-color: whitesmoke; */
    display:grid;
    /* grid-template-columns: 1000px; */
    justify-content: space-evenly;
    
}

h2 {
    color: white;
    /* margin-bottom: 20px; */
}

.top-bar{
    background-color: rgb(41, 39, 39); 
    color: white;
    display: flex;
    align-items: center; 
    justify-content: space-between;
    padding: 1.5rem 5rem;
    width: 100%;
    margin-bottom: 150px;
    /* margin-top: 50px; */
    box-sizing: border-box; 
}

.admin-info {
    display: flex;
    align-items: center; 
}

.admin-icon {
    position: relative;
    width: 50px;
    height: 50px;
    margin-right: 20px;
    border-radius: 20px; 

}

.admin-username {
    font-weight: bold;
}


/* .search-bar-container input {
    width: 100%;               
    padding: 10px 20px;        
    border: 1px solid #cd8c38; 
    outline: none;             
    border-radius: 20px;       
    background-color: #dfe1ee; 
    color: #adadad;            
    font-size: 16px;           
    transition: 0.2s;         
}

.search-bar-container input:focus {
    border-color: rgb(228, 214, 214);     
    box-shadow: 0 0 10px #92601f; 
} */

.team-section h2{
    color: whitesmoke;
    padding: 20px;
}
.team-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 20px;

}

.team-member {
    background-color: #fff;
    padding: 25px;
    border-radius: 60px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Slight shadow for depth */
}

.team-member img {
    text-align: center;
    color: black;
    width: 50px;
    height: 50px;
    border-radius: 50%; /* Circular images */
    margin-bottom: 10px;
    position: relative;
    margin-right: 20px;
    border-radius: 20px; 
}

 button {
    /* align-items: center; */
    margin-top: 15px;
    /* modify the button size */
    padding: 20px 15px; 
    border: none;
    background-color: #007BFF;
    color: white;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

.adminpermission {
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.adminpermission h2{
    padding-top: 30px;
    color: whitesmoke;
}

.permissions-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 columns grid */
    gap: 20px;
    width: 100%;
    max-width: 600px; 
}

.permission-box {
    background-color: #cd8c38; 
    padding: 50px;
    border-radius: 10px; 
    text-align: center;
    cursor: pointer; 
    transition: background-color 0.3s; 
}

.permission-box:hover {
    background-color: #e0e0e0; 
}