@import url('https://fonts.googleapis.com/css2?family=Joan&display=swap');
/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Joan', serif;
} */

.movManBackground {
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    /* grid-template-columns: 1000px; */
    justify-content: space-evenly;
}

.movieField {
    display: flex;
    flex-direction: column;
}

.grid {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr; 
    gap: 20px; 
    
}

.synosis {
    width: 100%;
    gap: 20px; 
}


.movie-management {
    /* display:contents; */
    /* display: flow-root; */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 100%;
    margin: 50px;
    padding: 2rem;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    background-color: whitesmoke;
}

.movie-management h2 {
    color: black;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.movie-management form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}

.movie-management input,
.movie-management textarea {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 100%;
    resize: none;
}
.remove-movie-button {
    background-color: #ff0000; /* Red color */
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .remove-movie-button:hover {
    background-color: #cc0000; /* Darker red on hover */
  }
  
.movie-management button {
    align-self: center;
    padding: 10px 15px;
    background-color: #4caf50;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
}



.movie-management button:hover {
    background-color: #45a049;
}
