.user-management-container {
    padding: 2rem;
    background-color: #f4f4f4;
    height: 100vh;
}

.user-management-container h1 {
    color: black;
    text-align: center;
    margin-bottom: 2.5rem;
}

.users-table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
}

.users-table thead {
    background-color: #333;
    color: #fff;
}

.users-table th, .users-table td {
    padding: 1rem;
    border: 1px solid #ddd;
    text-align: left;
}

.users-table td {
    /* background-color: #f9f9f9; */
    background-color: grey;
}

.edit-btn, .edit-order-btn, .remove-btn, .toggle-status-btn {
    padding: 0.5rem 1rem;
    margin-right: 0.5rem;
    margin-left: 0.5rem ;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    outline: none;
    transition: 0.3s;
}

.edit-btn {
    background-color: #007bff;
    color: #fff;
}

.edit-order-btn {
    background-color: #28a745;
    color: #fff;
}

.remove-btn{
    background-color: red;
    color: #fff;
}

.toggle-status-btn{
    background-color:palevioletred;
    color: #fff;
}

.edit-btn:hover {
    background-color: #0056b3;
}

.edit-order-btn:hover {
    background-color: #218c38;
}


.remove-btn :hover{
    background-color: red;
}

.toggle-status-btn :hover{
    background-color: palevioletred;
}