.checkout-container {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.payment-section, .order-summary-section {
    width: 100%; /* Adjusted for closer to screen edge */
    background-color: #f7f7f7;
    padding: 1.5rem 5rem;
    border: 1px solid #e0e0e0;
    border-radius: 30px;
    margin-left: 80px;
}

#card {
    color: black;
}

.checkout-container h1 {
    text-align: center;
    margin-bottom: 1rem;
    color: #333; /* Fix for visibility */
}

.card-input {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}


.card-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}


.promo-code-input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.card-input {
    margin-top: 10px;
}

.card-input input, .card-details input, .promo-code-input input {
    flex: 1;
    padding: 0.5rem;
    margin-right: 0.5rem; /* Adjusted margin to fix overflow */
}

#promoText {
    margin: 0;
    margin-right: 10px;
}

.use-saved-card-btn, .apply-promo-btn {
    background-color: transparent;
    color: #333;
    border: 1px solid #333;
    padding: 0.5rem 1rem;
    cursor: pointer;
    margin: 0;
    transition: 0.3s;
}

.use-saved-card-btn {
    margin: 0;
    margin-bottom: 10px;
}

.use-saved-card-btn:hover, .apply-promo-btn:hover {
    background-color: #333;
    color: #f7f7f7;
}

.checkout-buttons {
    display: flex;
    justify-content: space-between;
    /* margin-top: 1rem; */
}

.checkout-btn,
.cancel-btn {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    outline: none;
    transition: 0.3s;
    width: 98%;
    height: 40px; /* Set a fixed height for both buttons */
}

.cancel-btn {
    margin-bottom: 4px;

}


.checanButton {
    width: 100%;
    display: flex;
    justify-content: space-between; /* Center the buttons horizontally */
    align-items: center; /* Center the buttons vertically */
}

.checkoutDiv,
.cancelDiv {
    width: 100%;
    margin-left: 10px;
    height: auto;
}

#cardNumber {
    width: 100%;
    margin: 0;
}


.checkout-btn:hover {
    background-color: darkgreen;
}

.cancel-btn:hover {
    background-color: rgb(25, 0, 139);
}

.ticket-details p {
    color: #333; /* Adjusted to make the text visible */
    text-align: end;
}

#cardList {
    color: black;
    margin-bottom: 10px;
    background-color: lightblue;
    border-radius: 3px;
    height: 30px;
    font-size: medium;
    list-style-type: none;
    cursor: pointer;
    display: flex;
    justify-content: center;

}

.dropdown-list {
    text-align: center;
    justify-content: center;
    margin: 0 auto;
}

#summaryTitle {
    font-size:xx-large;
    text-align: center;
    font-weight: bolder;
    background-image: linear-gradient(176deg, #0075c9, #76c2b6);
    -webkit-background-clip: text;
    color: transparent;}