@import url('https://fonts.googleapis.com/css2?family=Joan&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.homepagebackground {
    box-sizing: border-box;
    background-color: black;
    /* margin-top: 30px; */
    display: grid;
    /* height: 100vh; */
    height: 100%;
    width: 100%;
    /* height: 100vh; 
    width: 100vw;  */
 }  


a {
    display: flex;
    text-decoration: none;
    color: brown;
}

.btn {
    display: inline-block;
    padding: .5rem 1rem;
    background-color: #cd8c38;
    border-radius: 2rem;
    color: #1e1f26; 
    transition: .3s;
}

.btn:hover {
    background-color: #92601f;
}

.btn -l {
    width: 100%;
    text-align: center;
}

body {
    /* background-color: rgb(184, 43, 43); */
    background-color: black;
    /* display: grid; */
    display:grid;
    grid-template-columns: 1000px;
    justify-content: space-evenly;
}


.home-top-bar {
    background-color: #000;
    display: flex;
    /* position:relative; */
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 5rem;
}



.left-content{
    padding-top: 15px;
    display: flex;
    align-items: center;
}
.right-content {
    color: #000;
    display:flex;
    position: relative;
    width: min-content;
    max-width: 120px;
    align-items: center;
}

.title {
    margin-right: 3rem;
    color: #cd8c38;
}

.navigation {
    display: flex;
    list-style: none;
}

.navigation li {
    margin-right: 1rem;
}

.navigation li a:hover {
    color: #cd8c38;
}

.active {
    color:rgb(10, 104, 104);
    border-radius: 20px;
}

.search-bar-container input {
    width: 100%;              
    padding: 10px 20px;
    margin-left: 10px;
    margin-top: 20px;
    border: 1px solid #cd8c38; 
    outline: none;             
    border-radius: 20px;       
    background-color: whitesmoke; 
    color: #adadad;            
    font-size: 16px;           
    transition: 0.2s;         
}

.search-bar-container input:focus {
    border-color: rgb(228, 214, 214);     
    box-shadow: 0 0 10px #92601f; 
}


.cart,
.menu {
    /* position:relative;
    margin-left: 10px;;
    width: 20px;
    height: 20px; */

    position: relative;
    height: 30px;
    width: 30px;
    margin-top: 10px;
    margin-left: 20px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;  
    transition: all 0.3s ease; 
}

/* .filter,
.cart{
    margin-right: 1rem;
} */

.menu {
    margin-left: .8rem;
}

.filter,
.menu {
    display: none;
}

.profile-img-box {
    position: relative;
    height: 30px;
    width: 30px;
    margin-left: 15px;
    margin-top: 10px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;  
    transition: all 0.3s ease;  
}

.profile-img-box img {
    border-radius: 50%;  
    transition: box-shadow 0.3s ease, transform 0.3s ease;  
}

/* When the popup is open, apply the styles below to the icon */
.profile-img-box.open img {
    box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.3);
    transform: scale(1.05);  /* Slightly enlarges the icon */
}

.user-popup {
    position: absolute;
    top: 50px;
    right: 0;
    width: 250px;
    /* text-align: center; */
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 10; /* Ensures the popup is on top of other elements */
}

.popup-content {
    padding: 30px;
    text-align: center;
    background-color: gray;
    border-radius: 1rem;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0,0,0,.1);
}

.popup-content button{
    display: inline-block;
    /* justifyContent:space-between; */
    width: 100px;
    height: 65px;
    background-color: white;
    color: black;
    font-weight: bold;
    border: 1ch;
    margin-right: 15px;
    margin-left: 20px;
}

.admin-login {
    margin-top: 20px;
    cursor: pointer;
    font-size: 14px;
    color: whitesmoke;  
    text-decoration: underline;
    text-align: center;  
}

.admin-login:hover {
    color: black;  
}

img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* main container */

.main-container {
    color: #adadad;
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 2rem;
}


/* sidebar */

.sidebar {
    background: linear-gradient(45deg, rgba(255, 255, 255, .05), rgba(205, 140, 56, .15));
    backdrop-filter: blur(5px);
    margin-top: 45px;
    height: fit-content;
    /* display:inline; */
    border-radius: 1rem;
    padding: 2rem 2.5rem;
}

.sidebar-groups {
    display:grid;
    margin-bottom: 2rem;
    
}

.sg-title {
    margin-bottom: .5rem;
    color: green;
}

input {
    margin-bottom: .6rem;
}

.checkbox-container {
    display: flex;
    align-items: center; 
    margin-bottom: 5px; 
}

.checkbox-container input[type="checkbox"] {
    margin-right: 3px; 
}

input[type=checkbox]:checked {
    accent-color: #cd8c38;
    accent-color: black;
}

input[type=radio]:checked {
    /* accent-color: #cd8c38; */
    accent-color: black;
    
}

label {
    margin-left: .5rem;
}


/* movies container */

.upcoming-img-box {
    position: relative;
    height: 300px;
    width: 100%;
    border-radius: 1rem;
    overflow: hidden;
    margin-bottom: 1.5rem;
}

.upcoming-title {
    position: absolute;
    top: 2rem;
    left: 2rem;
    color: #cd8c38;
    background-color: #1e1f26;
    padding: .5rem 1rem;
    border-radius: 2rem;
    border: 1px solid #cd8c38;
    font-weight: 500;
}

.buttons {
    /* position:relative; */
    position: absolute;

    overflow: hidden;
    bottom: 2rem;
    left: 2rem;
}

.btn-alt {
    background-color: #202024;
    color: #dfd1bf;
    border: 1px solid #cd8c38;
    margin-left: 1rem;
}

.btn-alt:hover {
    color: #1e1f26;
    background-color: #a07d4e;
}


/* current movies */

.movies-container {
    padding-bottom: 2rem;
}

.separate {
    font-size: 27px; 
    margin-top: 20px; 
    margin-bottom: 20px;
    padding: 10px; 
    border-radius: 10px; 
    display: flex;
    align-items: center;
    color: white; 
    width: fit-content; 
}

.current-movies,
.future-movies {
    /* display:flex; */
    display: grid;
    position:relative;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.current-movie,
.future-movie {
    display:block;
    background: linear-gradient(45deg, rgba(255, 255, 255, .05), rgba(205, 140, 56, .15));
    padding: 1rem;
    border-radius: .5rem;
}

.current-img-box,.future-img-box {
    position:relative;
    height: 300px;
    width: auto;
    margin-bottom: 1rem;
    border-radius: .5rem;
    overflow: hidden;
}


.movie-title {
    color: #312d2d;
    margin-bottom: .2rem;
}

.booking {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
}

.root {
    display: flex;
    align-items: center;
}