.confirmation-page {
    font-family: 'Arial', sans-serif;
    max-width: 800px;
    margin: 2rem auto;
    padding: 2rem;
    border: 1px solid #ddd;
    border-radius: 10px;
<<<<<<< HEAD
    background-color: #e6f7ff;
=======
    background-color: whitesmoke;
>>>>>>> 376f71472e697ab707e9cbec41fc1876dbf9ab9b
    text-align: center;
}

h1 {
    color: pink;
    margin-bottom: 1.5rem;
}

.spacer {
    height: 2rem;
    width: 100%;
}

h2 {
    color: black;
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

h2 span {
    font-weight: bold;
    color: black;
}

.booking-details {
    color: black;
    margin-bottom: 1.5rem;
    text-align: left;
}

h3 {
    color: black;
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.booking-details p {
    margin-bottom: 0.5rem;
}

p span {
    color: black;
    font-weight: bold;
}
