/* login2.css */

.auth-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #121212;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    width: 300px;
    margin: 0 auto;
    margin-top: 50px;
  }
  
  .login-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color:#ff6600
  }
  
  label {
    font-weight: 500;
    margin-bottom: 5px;
  }
  
  input {
    padding: 10px;
    border: 1px solid #000000;
    border-radius: 5px;
    font-size: 16px;
    width: 100%;
    outline: none;
  }
  
  button[type="login"] {
    background-color: #ff6600;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }

  .login-btn:hover {
    background-color: #ff3300;
  }
  
  .log-btn {
    margin-top: 10px;
    text-align: center;
    color: #ff6600;
    cursor: pointer;
    background-color: #121212;
  }
  
  .log-btn:hover {
    text-decoration: underline;
    background-color: #121212;
  }
  