/* signup.css */

/* Font import */
@import url('https://fonts.googleapis.com/css2?family=Joan&display=swap');

/* Set up the font family for the entire form */
body, input, label, button {
  font-family: 'Joan', serif;
}

.auth-form-container {
  display: grid;
  place-items: center;
  height: 100vh;
}

.form-box {
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 2rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* style for Form labels and inputs */
.label-input {
  margin-bottom: 20px;
  text-align: center;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #333; 
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: #333; 
}

/* style for checkbox and text */
.subscribe-checkbox label {
  display: flex;
  align-items: center; 
  color: #333; 
}

.subscribe-checkbox input[type="checkbox"] {
  margin-right: 5px;
}

/* style for the Login button */
button[type="submit"] {
  background-color: #cd8c38;
  color: #1e1f26;
  padding: .5rem 1rem;
  border: none;
  border-radius: 2rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

button[type="submit"]:hover {
  background-color: #92601f;
}

/* style for the Login link button */
.link-btn {
  margin-top: 20px;
  background-color: transparent;
  border: none;
  color: #cd8c38;
  cursor: pointer;
  text-decoration: underline;
}

.link-btn:hover {
  color: #92601f;
}