/* Apply the 'Joan' font-family to the whole form */
.update-profile-form {
    display:grid;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #121212;

    border: 1px solid #ccc;
    margin:  10 auto;
}

.update-profile-form {
    overflow: hidden;
}

.form-groups{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 565px;
    transition: all .3s;
  }
/* Form box */
.form-box {
    background-color: #121212;
    padding: 20px;
    border-radius: 5px;
  }

  /* Form title */
.form-title {
    font-size: 24px;
    margin-bottom: 20px;
  }
/* Style the buttons */
.btn {
    display: inline-block;
    padding: .5rem 1rem;
    background-color: #cd8c38;
    border-radius: 2rem;
    color: #1e1f26;
    transition: .3s;
    margin: 0.5rem 0;
}

.register-form{
  
    overflow: hidden;
  }
  
.form-groups{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 565px;
    transition: all .3s;
  }
  
  .form-groups-height-selected{
    height: 565px;
  }
  
  .form-groups-height{
    height: 380px;
  }
  
  .form-group-panel {
    height: 400px;
  }
  
  .form-group-break {
    width: 2px;
    background-color:grey;
    margin-right: 18px;
    margin-left: 18px;
  }

.btn:hover {
    background-color: #92601f;
}

/* Add styling to the input fields */
.input-container input {
    width: 100%;
    padding: 10px 20px;
    border: 1px solid #cd8c38;
    outline: none;
    border-radius: 20px;
    background-color: #ffffff;
    color: #000000;
    font-size: 16px;
    transition: 0.2s;
    margin-bottom: 0.6rem;
    
}

.input-container input:focus {
    border-color: rgb(228, 214, 214);
    box-shadow: 0 0 10px #92601f;
}

.select-input{
    width: 100%;
    padding: 10px 20px;
    border: 1px solid #cd8c38;
    outline: none;
    border-radius: 20px;
    background-color: #ffffff;
    color: #000000;
    font-size: 16px;
    transition: 0.2s;
    margin-bottom: 0.6rem;
}

.profile-picture-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.profile-picture-box img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1rem; /* Add margin to separate from labels */
}



/* Style the labels for input fields */
.label-input label {
    font-weight: bold;
    margin-bottom: 0.5rem;
    color: #000000;
}

/* Style the checkbox */
.subscribe-checkbox label {
    display: flex;
    align-items: center;
    color: #adadad;
    margin-top: 15px;
}

.subscribe-checkbox input[type="checkbox"] {
    margin-right: 0.5rem;
    align-items: center;
}